<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{#if @current.title}}{{@current.title}}{{else}}{{@site.title}}{{/if}}</title>
  <meta name="description" content="{{#if @current.content}}{{excerpt @current.content}}{{else}}{{@site.description}}{{/if}}">

  <link rel="stylesheet" href="{{fullpath '/css/main.css'}}">
  <link rel="canonical" href="{{permalink @current.path}}">
  <link rel="alternate" type="application/rss+xml" title="Leo Wong's Blog" href="http://feeds.feedburner.com/gnowoel">
</head>
